

<div class="booyah-box col-xs-8 col-xs-offset-2">
	<div class="col-xs-3" >
		<% if @user.email == 'christopherroche@stmarksschool.org' %>
			<%= image_tag 'user_page_icon.png' %>
		<% else %>
			<%= image_tag 'users.png' %>
		<% end %>
	</div>
	<div class="col-xs-9" >
		<h1 class="brand-font light-blue-color text-shadow-blue user-page-heading-size"><%= @user.email %></h1>
		<h3 class="nomster-text-font index-place">
			Member Since: <%= @user.created_at.strftime("%B %d, %Y") %> 
		</h3>
		<br />
		<!-- section for total comments -->
		<% if @user.comments.count == 0 %>
			<h5 class="nomster-text-font">
				<%= @user.comments.count %> comments so far. ...add a comment!
			</h5>
		<% elsif @user.comments.count == 1 %>
			<h5 class="nomster-text-font">
				<%= @user.comments.count %> comment so far. ...add more comments!
			</h5>
		<% else %>
		    <h5 class="nomster-text-font">
				<%= @user.comments.count %> total comments. ... way to go!
			</h5>
		<% end %>

		<!-- section for total reviews (new places made) -->
		<% if @user.comments.where(rating: '5_stars').count == 1 %>
			<h5 class="nomster-text-font"><%= @user.comments.where(rating: '5_stars').count %> total 5 star review so far!
				<i class="glyphicon glyphicon-star nomster-gold-star"></i>
				<i class="glyphicon glyphicon-star nomster-gold-star"></i>
				<i class="glyphicon glyphicon-star nomster-gold-star"></i>
				<i class="glyphicon glyphicon-star nomster-gold-star"></i>
				<i class="glyphicon glyphicon-star nomster-gold-star"></i>

			</h5>
		<% else %>
			<h5 class="nomster-text-font"><%= @user.comments.where(rating: '5_stars').count %> total 5 star reviews!
						<i class="glyphicon glyphicon-star nomster-gold-star"></i>
						<i class="glyphicon glyphicon-star nomster-gold-star"></i>
						<i class="glyphicon glyphicon-star nomster-gold-star"></i>
						<i class="glyphicon glyphicon-star nomster-gold-star"></i>
						<i class="glyphicon glyphicon-star nomster-gold-star"></i> 

			</h5>
		<% end %>
	</div>
	
</div>
<div class="clear"></div>
<br /><br />
<h1 class="text-center brand-font red-color text-shadow-blue index-user-heading-styles">My Comments</h1>
<br /><br />
<% @user.comments.each do |comment| %>
   <div class ="col-xs-12 col-sm-6">
   	    <h3 class="text-center">
   	    <!-- trying work around for heroku issue -->	
   	    <% if comment.place.name.present? %>	
     	 <%= link_to comment.place.name, place_path(comment.place), :class => 'brand-font  text-shadow-blue restaurant-link-user-page index-user-heading-styles' %>
     	 <% end %>
  		</h3> 
		<blockquote class="sm-grow">
			<% if comment.humanized_rating.present? %>
				<b><%= comment.humanized_rating %></b> -
			<% end %>	
			<%= comment.message %>
			<small><%= comment.user.email %></small>
		</blockquote>
	</div>
<% end %>

<div class="clear"></div>
<br /><br />
<h1 class="text-center brand-font red-color text-shadow-blue index-user-heading-styles">My Places</h1>
<br /><br />
<% @user.places.each do |place| %>
    	<div class="booyah-box col-xs-8 col-xs-offset-2">
		<!-- h1 class="restaurant" -->
		<!-- brand-font light-blue-color text-shadow-blue restaurant-link-styles -->
  	 	<h1>
     	 <%= link_to place.name, place_path(place), :class => 'brand-font light-blue-color text-shadow-blue restaurant-link-styles' %>
  		</h1> 
		<i class="index-place nomster-text-font"><%= place.address %></i><br />
		<br />
		<p class="index-description index-indent "><%= place.description %></p><br />

		 <% if place.user.present? %>
     		 <div class="cobalt-color nomster-text-font index-indent">
        		 <i class="glyphicon glyphicon-pencil"> </i>
     		 	<small ><%= place.user.email %></small>
       		 </div>
   		 <% end %>
   		 <% if place.comments.present? %>
   		 	<div class="col-xs-12 ">
				  <blockquote class="sm-grow">
				  	
				    <% if place.comments.order("id ASC").last.humanized_rating.present? %>
				      <b><%= place.comments.order("id ASC").last.humanized_rating %></b> -
				    <% end %>
				   
				    <%= place.comments.order("id ASC").last.message %>
				   
				    <small><%= place.comments.order("id ASC").last.user.email %></small>
				  </blockquote>
			</div>
		<% end %>	
	</div>
<% end %>