
<!-- Twitter Bootstrap Carousel Tags and styling -->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>  
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">

  	<!-- slider 1 -->
    <div class="item active ">
      <%= image_tag 'lobster1_ready.jpg', class: 'img-responsive' %>
      <!--div class="carousel-caption nomster-text-font-not-bold"-->
      <div class="carousel-caption nomster-text-jinky grey-caption-color">
        Find Amazing Dishes!!!
      </div>
    </div>

	<!-- slider 2 -->
    <div class="item ">
      <%= image_tag 'bread_ready_2200px.jpg', class: 'img-responsive' %>
     <!--div class="carousel-caption nomster-text-font-not-bold"-->
     <div class="carousel-caption nomster-text-jinky grey-caption-color">
        Great cuisine!!!
      </div>
    </div>

	<!-- slider 3 -->
    <div class="item ">
      <%= image_tag 'great_chefs_ready.jpg', class: 'img-responsive' %>
      <!--div class="carousel-caption nomster-text-font-not-bold"-->
      <div class="carousel-caption nomster-text-jinky grey-caption-color">
        Amazing chefs!!!
      </div>
    </div>
    
    <!-- slider 4 -->
    <div class="item ">
      <%= image_tag 'slider1pano.jpg', class: 'img-responsive' %>
      <!--div class="carousel-caption nomster-text-font-not-bold"-->
      <div class="carousel-caption nomster-text-jinky grey-caption-color">
        Great restaurants!!!
      </div>
    </div>

   <!-- slider 5 -->
    <div class="item ">
      <%= image_tag 'donuts1_ready.jpg', class: 'img-responsive' %>
      <!--div class="carousel-caption nomster-text-font-not-bold"-->
      <div class="carousel-caption nomster-text-jinky grey-caption-color">
        All that is crazy good!!!
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>



<!-- code to display a listing of the places  from early Nomster lessons -->
<% @places.each do |place| %>
	<div class="booyah-box col-xs-8 col-xs-offset-2">
		<!-- h1 class="restaurant" -->
    <h1>
      <%= link_to place.name, place_path(place), :class => 'brand-font light-blue-color text-shadow-blue restaurant-link-styles' %>
    </h1> 
		<i class="index-place nomster-text-font"><%= place.address %></i>
    <br /><br />
		<p class="index-description index-indent"><%= place.description %></p><br />

		 <% if place.user.present? %>
        <div class="light-blue-color-2 nomster-text-font index-indent">
         <i class="glyphicon glyphicon-pencil"> </i>
     		 <small ><%= place.user.email %></small>
        </div>
   		 <% end %>
   		 <% if place.comments.present? %>
   		 	<div class="col-xs-12 ">
				  <blockquote class="sm-grow">
				  	
				    <% if place.comments.order("id ASC").last.humanized_rating.present? %>
				      <b><%= place.comments.order("id ASC").last.humanized_rating %></b> -
				    <% end %>
				   
				    <%= place.comments.order("id ASC").last.message %>
				   
				    <small><%= place.comments.order("id ASC").last.user.email %></small>
				  </blockquote>
			</div>
		<% end %>	
	</div>

	
<% end %>

<div class="col-xs-8 col-xs-offset-2 brand-font">
<%= will_paginate @places, renderer: BootstrapPagination::Rails %>
</div>