<!-- its the form page for a new place entry-->

<div class="booyah-box col-xs-8 col-xs-offset-2">
  <h1 class="brand-font light-blue-color text-shadow-red heading-size">Enter Your Place Details...Here!</h1>

 
  <%= simple_form_for @place do |f| %>
      	<%= f.input :name %>
    	<%= f.input :address %>
    	<%= f.input :description %>
    	<br />
    	<%= f.submit 'Create', class: 'btn btn-primary btn-lg' %>


    	<h2 class="center-it brand-font light-blue-color text-shadow-red ">Do you have any photos... add them here! </h2>
    	 <%= f.simple_fields_for :photos do |p| %>
        	<%= p.input :@photo.caption %>
        	<%= p.submit 'Add a Photo!', class: 'btn btn-primary btn-lg' %>
      <% end %>

 


    	
	<% end %>



	
</div>