<!--This is the view from the "show" controller action from Lesson 21 -->
<!-- this shows the full record of the place (restaurant) -->

<div class="booyah-box col-xs-8 col-xs-offset-2">
	<h1 class="brand-font light-blue-color text-shadow-red heading-size"><%= @place.name %></h1>
	<i><%= @place.address %></i>
	<br/><br/>
	<p><%= @place.description %></p>
	<div class="pull-right">
   		 <%= link_to 'Edit', edit_place_path(@place), class: 'btn btn-primary btn-lg' %>
   		 <%= link_to 'Delete', place_path(@place), method: :delete, data: { confirm: 'Are you completely sure you want to delete this restaurant?'}, class: 'btn btn-danger btn-lg' %>
    </div>
</div>