<!DOCTYPE html>
<html>
	<head>
	  <title>Nomster-Rochebox-Great-Restaurants!</title>
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<nav class="navbar navbar-inverse no-bottom-margin" role="navigation">
			<div class="container-fluid">

				<!-- they note: brand and toggle grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>!
					
					<!-- below is a ruby link replacing this...an html A tag -->
					<%= link_to 'Nomster', root_path, class: 'navbar-brand' %>
				</div>

				<!--Ken cuts it down a lot from the Twitter Bootstrap Model -->
				<!-- Note is Collect Nav Links, fore and stuff for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li>
							
							 <%= link_to new_place_path do %>
   							 	<i class="glyphicon glyphicon-plus-sign"></i>
  							 	 <span class="nav-sign-in-fonts"> New Place </span>
  							 	 <i class="glyphicon glyphicon glyphicon-eye-open"></i>
  							 	 <i class="glyphicon glyphicon-glass"></i>
  							 	 <i class="glyphicon glyphicon-user"></i>
 							 <% end %>
						</li>	
					</ul> <!-- nav navbar-nav -->

					<ul class="nav navbar-nav navbar-right">
						<% if user_signed_in? %>
								
							 <li><%= link_to 'My Profile', user_path(current_user) , class: 'nav-sign-in-fonts' %></li>
       						 <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete , class: 'nav-sign-in-fonts' %></li>
     					 <% else %>
       						 <li><%= link_to 'Sign in', new_user_session_path , class: 'nav-sign-in-fonts' %></li>
       						 <li><%= link_to 'Sign up', new_user_registration_path, class: 'nav-sign-in-fonts' %></li>
      					<% end %>
						<!--li class="active"><a href="http://canadiens.nhl.com/">Link</a></li-->
					</ul> <!--nav navbar-nav navbar-right-->
				</div> <!-- collapse navbar collapse...-->
			</div>	<!-- "container fluid... div" ends-->
		</nav>

		<% if notice.present? %>
			<p class="alert alert-info col-xs-8 col-xs-offset-2"><%= notice %></p>
		<% end %>

		<% if alert.present? %>
			<p class="alert alert-danger col-xs-8 col-xs-offset-2"><%= alert %></p>
		<% end %>

		<%= yield %>

	</body>
</html>
